{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modification utilisateur</h1>

        {{ include('admin/user/_form.html.twig', {'button_label': 'Update', context: 'EDIT'}) }}
    
        <a href="{{ path('admin_user_index') }}">back to list</a>
    
        {{ include('admin/user/_delete_form.html.twig') }}
    </div>
{% endblock %}
