{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <div class="container pt-3">
        <h1>Nouvel utilisateur</h1>

        {{ include('admin/user/_form.html.twig', { context: 'NEW' }) }}
    
        <a href="{{ path('admin_user_index') }}" class="btn btn-primary mr-3">Retour à la liste</a>
    </div>
{% endblock %}
